* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pirmary: #191414;
  --secondary: #ffffff;
}

body,
html {
  background: #ffffff;
}

/* HEADER STYLING */

button:focus {
  outline: 0;
}

.navbar .dropdown-menu .form-control {
  width: 200px;
}
#login-form,#signup-form {
  background-color: black;
}

/* END OF HEADER STYLING */

/* SEARCH BAR ON HOME PAGE */

/* TOP 5 BREWERIES LANDING AREA */

footer {
  background: var(--pirmary);
  bottom: 0;
  width: 100%;
  position: bottom;
  text-decoration: none;
}
footer a {
  color: var(--secondary);
}

footer p {
  color: var(--secondary);
}
/* END OF FOOTER STYLING */
