* {
  margin: 0;
  padding: 0;
}

:root {
  --pirmary: #191414;
  --secondary: #ffffff;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

#container {
  min-height: 100%;
}

body,
html {
  background: #ffffff;
}

/* HEADER STYLING */

button:focus {
  outline: 0;
}

.navbar .dropdown-menu .form-control {
  width: 200px;
}

/* END OF HEADER STYLING */

footer {
  background: var(--pirmary);
  position: relative;
  height: 90px;
  text-decoration: none;
}

footer a {
  color: var(--secondary);
}

footer p {
  color: var(--secondary);
}
/* END OF FOOTER STYLING */

/* CARD STYLING */

.card {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}
