mixin hero(heroLogo)
  div(class="container")
    h2(class="mb-3 text-center") Search a Brewery
    form( class="d-flex")
    input(class="form-control mr-2"
          type="search"
          placeholder="Search" 
          aria-label="search"   )
      button(class="btn btn-outline-success"
             type="submit") Search
         

