mixin home-content()
  div(class="container")
    h2(class="mb-3 text-center") Search a Brewery
    form(class="d-flex")
    input(class="form-control mr-2"
            type="search"
            placeholder="Search"
            aria-label="Search")
    button(class="btn btn-outline-success" type="submit") Search
    h2( class="mb-3 text-center") TOP 5 Breweries
    div(class="table-responsive-md")
      table(class="top-5 table table-hover table-bordered")
        thead()
                    th(scope="col") Brewery Rank
                    th(scope="col") Name
                    th(scope="col") City
                    th(scope="col") State
        tbody()
        tr()
                    th(scope="row") 1
        tr()
                    th(scope="row") 2
        tr()
                    th(scope="row") 3
        tr()
                    th(scope="row") 4
        tr()
                    th(scope="row") 5
  
                    
                                     
 

