doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='icon' href='../../../../favicon.ico')
  title Login Form
  // Bootstrap core CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  // Custom styles for this template
  include includes/header-signup.pug
 
    
.container

  form#signin(name='signin' method='post' action='/login')
    .form-group
      label(for='userName') Username
      input#InputUser.form-control(type='text' aria-describedby='userNameHelp' placeholder='Enter username' name='userName')
    .form-group
      label(for='passwords') Password
      input#InputPassword.form-control(type='password' placeholder='Password' name='passwords')
    button.btn.btn-primary(type='submit') Submit

//
  Bootstrap core JavaScript
  ==================================================
// Placed at the end of the document so the pages load faster
script(src='/script.js')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
