footer
    .section
        a(href='https://github.com/adamlsn/project1', style='text-decoration: none') GitHub
        p
            | Contributions: Adam Olson, Devon Ross, Kaan Nazlioz, Mitchell
            | Spierings
