footer.footer-expand-lg.footer-dark.bg-dark
    .section 
        a.mb-3.mb-5.mt-5(href='https://github.com/mspierings96/Craft-Reviews', style='text-decoration: none') Github 
        p.mb-3.mb-5.mt-3
            | Contributions: Adam Olson, Devon Ross, Kaan Nazlioz, Mitchell 
            | Spierings