nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(role='navigation')
  .container
    a.navbar-brand(href='#') REVIEW CRAFTS
  
                //
                  <div class="form-group text-xs-center">
                  <small><a href="#">Forgot password?</a></small>
                  </div>
