nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(role='navigation')
  .container
    a.navbar-brand(href='/') REVIEW CRAFTS
    .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav
      li.nav-item.float-right
        a.nav-link(href='/') Home
      li.nav-item.float-right 
        a.nav-link(href='/logout') Logout