nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(role='navigation')
  .container
    a.navbar-brand(href='#') REVIEW CRAFTS
    .collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='/Profile') Profile
      li.nav-item
    ul.navbar-nav.float-right
      li.nav-item
        a.nav-link(href='/login') Login
    
          
  
                //
                  <div class="form-group text-xs-center">
                  <small><a href="#">Forgot password?</a></small>
                  </div>
